<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Print@ScottyLabs</title>
    <meta name="description" content="Print@ScottyLabs lets you print things at CMU by sending an email!">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/favicon.png" />
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Bitter:400,700' rel='stylesheet' type='text/css'>

    {% include analytics.html %}
  </head>
  <body>
    <section class="container">
      {{ content }}
    </section>
  </body>
</html>
